<h1> Hello! Welcome to Jem Photo Share! </h1>

<div style="display: flex; flex-direction: row; justify-content: center">
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>

<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
<% end %>

<div style="display: flex; flex-direction: row; justify-content: center">
  <%= link_to ('<i class="fa fa-camera"></i>').html_safe, new_post_path  %> 
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly">

    <% if @posts.present? %>
      <% @posts.reverse.each do |post| %>
          <div class="card" style="width: 18rem; margin: 1em; padding: 0.5em; border-radius: 3%">
            <% if post.image.present? %>  
              <%= image_tag post.image.url(:medium) %>
            <% end %>
            <br>
            <div class="card-body">
              <h5 class="card-title">
                <%= post.title %>
              </h5>
            <br>

              <%= link_to ('<i class="fas fa-trash"></i>').html_safe, post_path(post), method: :delete, 
              data: { confirm: 'Are you sure?' } %>
              <br>
              <%= link_to post_path(post), class: "btn btn-primary", method: :get do %>
                <i class="far fa-comments"></i>
                <span>See comments</span>
              <% end %>  

              <%= link_to new_post_comment_path(post), class: "btn btn-primary", method: :get do %>
                <i class="far fa-comment-dots"></i>
                <span>Make comment</span>
              <% end %>
            </div>  
          </div>
    <% end %>   
          
  <% end %>   
</div>
      