<div style="display: flex; flex-direction: row; justify-content: center">
  <%= link_to 'Back to posts', posts_path %>
</div> 
<br>
<div style="display: flex; flex-direction: row; justify-content: center">
  <%= link_to 'Make a comment', new_post_comment_path(@post), method: :get %>
</div>  
<br>
<br>
<div class="container" style="display: flex; flex-direction: row; justify-content: space-evenly">
  <div class="card" style="width: 16rem; margin: 1em; padding: 0.5em; border-radius: 3%">
    <%= image_tag @post.image.url(:medium) %>
    <br>
    <h4>
      <%= @post.title %>
    </h4> 
  </div>
</div>  
<br>
<br>

<div class="comments-container" style="align: center">
  <h3>Comments:</h3>

  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.text %>
      <%= link_to ('<i class="fas fa-trash"></i>').html_safe, [comment.post, comment], method: :delete, 
      data: { confirm: 'Are you sure?' } %>
    </li>
  <%end %>
</div>


